body{background-image:url(imagenes2/fondocuidado.png);
    background-repeat:no-repeat;
   background-size:cover;
   }
   a:link{
   border-style:outset;
   background-color:#DDA0DD;
   color: #228B22;
   padding: 50px 75px;
   font-family:Fantasy;
   font-size:130%;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   }
   a:hover,a:active {
   background-color: #FFD700;}
   table, th, td{font-family:verdana;
   font-size:130%;
   text-align:center;
   border:2px groove;
   padding:15px;
   width:100%; 
   }
   h2{font-size:350%;
   background-color:#FFD700; 
   color:black;
   width:100%;
   text-align: center;
   padding: 80px 10px;
   border-style:outset;
   font-family:Verdana;
   }
   footer{font-family:Fantasy;
       font-size:200%;
       color:#6b096b;
       background-color:#FFD700};